@model song_lyrics.Models.Song

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/PDF.css"/>
</head>
<body>
    <div class="DownLoad">
        <p>@Model.Lyric</p>
    </div>
</body>
</html>